.nav-links {
  display: flex;
  justify-items: space-evenly;
  font-size: 2rem;
  align-self: center;
  justify-self: flex-end;
  margin: 0 20px 0 auto;

  & a {
    font-weight: bold;
    color: #1E1E1E;
    text-decoration: none;

    &:hover {
      color: #3a627c;
    }
  }
}